table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius:5px;
}
table,tr {
    border: 1px solid white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
}
.descpergunta{
    color: #293259;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
}
.descresposta{
    color: #293259;
    /*font-weight: bold;*/
    font-size: 14px;
}
